
<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title><%= @title + " | Katy's Notes" %></title>  
  <link href="/reset.css" rel="stylesheet">  
  <link href="/style.css" rel="stylesheet">  
</head>  
<body>  
  <header>  
    <hgroup>  
      <h1><a href="/">Katy's Notes</a></h1>  
      <h2>Saving one tree at a time...</h2>  
    </hgroup>  
  </header>  
  
  <div id="main">  
    <%= yield %>  
  </div>  
  
  <footer>  
  </footer>  
</body>  
</html>  
